@charset "utf-8";

html.ltr .ss_samsung .footer .flag-fr {margin-left: 10px;}
.ss_samsung .footer .flag-fr {background: url('../../../common/next/img/flag-fr.jpg'); background-size:100%; width: 30px;height: 20px;margin-top: -3px;display: -moz-inline-stack;display: inline-block;vertical-align: middle;zoom: 1;}
.ss_samsung .footer .googleico {float: none; display: table-cell; vertical-align: middle; color: #d34836; margin-right: 15px; font-size: 1.25rem;}
.ss_samsung .footer a.googleico:hover{color:#b33c2d;}



.header-btn-search .icon-search{display:inline-block;height:14px;width:15px;background:url(../../../common/img/ico-menu.svg) no-repeat;background-size:15px 11px;vertical-align:middle;font-size:1px;line-height:1px;color:transparent}
.header-btn-search .icon-search{width:14px;background:url(../../../common/img/ico-search-m.svg) no-repeat;background-size:14px 14px}
.no-svg .icon-search,{background:url(../../../common/img/svg-ir.png) no-repeat}

